<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moster Slayer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="resources/dino.png" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="game">
      <div class="tutorial" v-show="visible">
        <div class="instructions">
          <h1 class="tutorialHead">Tutorial</h1>
          <ol>
            <li>
              Special attack deals hefty damage but has a cool down of 2 turns.
            </li>
            <li>
              Using heal restores your hp and can only be used after 3 turns
              once used.
            </li>
            <li>Surrendering will make you exit the current fight.</li>
          </ol>
          <button @click="tutorialDone" class="tutorialButt">
            Understood!
          </button>
        </div>
      </div>
      <header>
        <h1>Monster Slayer</h1>
      </header>

      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div :style="monsterHealthBar" class="healthbar__value"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div :style="playerHealthBar" class="healthbar__value"></div>
        </div>
      </section>
      <div v-if="winner">
        <section class="container">
          <h1>Game Over</h1>
          <h1 v-if="winner == 'player'">You Won!!</h1>
          <h1 v-else-if="winner == 'monster'">You Lose :(</h1>
          <h1 v-else>It's a Tie</h1>
          <button @click="playAgain">Play Again?</button>
        </section>
      </div>
      <div v-else>
        <section id="controls">
          <button @click="attackMonster">ATTACK</button>
          <button @click="specialAttack" :disabled="spAtckCDT">
            SPECIAL ATTACK
          </button>
          <button @click="heal" :disabled="healCDT">HEAL</button>
          <button @click="surrender">SURRENDER</button>
        </section>
      </div>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="each in log">{{each}}</li>
        </ul>
      </section>
    </div>
  </body>
</html>
